---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://api.hellosign.com/v3/template/c5754a7b3dae669d8a645a6cba79b340cdfdf3a2
    method: GET
  response:
    body: '{"template":{"template_id":"c5754a7b3dae669d8a645a6cba79b340cdfdf3a2","reusable_form_id":"c5754a7b3dae669d8a645a6cba79b340cdfdf3a2","title":"Offer
      Letter","message":null,"is_creator":true,"is_embedded":true,"can_edit":true,"metadata":{"no":"cats","more":"dogs","sent_from_domain":"app.hellosign.com","created_on_domain":"app.hellosign.com"},"is_locked":true,"signer_roles":[{"name":"Employee","order":null}],"cc_roles":[],"documents":[{"index":0,"name":"offer_letter.pdf","field_groups":[],"custom_fields":[{"name":"Salary","type":"text","signer":null,"x":442,"y":294,"width":72,"height":14,"required":false,"api_id":"5ca2a8cc-f743-48d5-93eb-5008a23b04e0","group":null,"fontSize":"12px","avg_text_length":{"num_lines":1,"num_chars_per_line":19},"isMultiline":false,"originalFontSize":12,"fontFamily":"arial"}],"form_fields":[{"name":"Signature1","type":"signature","signer":"1","x":255,"y":507,"width":108,"height":27,"required":true,"api_id":"240cc5a4-22d9-4ef7-a5a5-ea1155620da7","group":null,"fontSize":12},{"name":"DateSigned1","type":"date_signed","signer":"1","x":596,"y":525,"width":103,"height":18,"required":true,"api_id":"412a9d64-9aba-441a-9be0-42e9247da4fd","group":null,"fontSize":"12px"},{"name":"FullName1","type":"text","signer":"1","x":261,"y":569,"width":72,"height":14,"required":true,"api_id":"b0af4aec-4839-421d-8f13-2d0d13740831","group":null,"fontSize":"12px","avg_text_length":{"num_lines":1,"num_chars_per_line":19},"isMultiline":false,"originalFontSize":12,"fontFamily":"arial"}]}],"custom_fields":[{"name":"Salary","type":"text","signer":null,"x":442,"y":294,"width":72,"height":14,"required":false,"api_id":"5ca2a8cc-f743-48d5-93eb-5008a23b04e0","group":null,"fontSize":"12px","avg_text_length":{"num_lines":1,"num_chars_per_line":19},"isMultiline":false,"originalFontSize":12,"fontFamily":"arial"}],"named_form_fields":[{"name":"Signature1","type":"signature","signer":"1","x":255,"y":507,"width":108,"height":27,"required":true,"api_id":"240cc5a4-22d9-4ef7-a5a5-ea1155620da7","group":null,"fontSize":12},{"name":"DateSigned1","type":"date_signed","signer":"1","x":596,"y":525,"width":103,"height":18,"required":true,"api_id":"412a9d64-9aba-441a-9be0-42e9247da4fd","group":null,"fontSize":"12px"},{"name":"FullName1","type":"text","signer":"1","x":261,"y":569,"width":72,"height":14,"required":true,"api_id":"b0af4aec-4839-421d-8f13-2d0d13740831","group":null,"fontSize":"12px","avg_text_length":{"num_lines":1,"num_chars_per_line":19},"isMultiline":false,"originalFontSize":12,"fontFamily":"arial"}],"accounts":[{"account_id":"a56783e678b6063c4f38180736eff28c74acb917","email_address":"primba@deputy.com","is_locked":false,"is_paid_hs":false,"is_paid_hf":false,"quotas":{"templates_left":0,"documents_left":3,"api_signature_requests_left":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Limit-Remaining:
      - "99"
      X-Ratelimit-Reset:
      - "1634529738"
    status: 200 OK
    code: 200
    duration: ""
