---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://api.hellosign.com/v3/template/list
    method: GET
  response:
    body: '{"list_info":{"page":1,"num_pages":1,"num_results":8,"page_size":20},"templates":[{"template_id":"674a74f81e611b047f233cfedf2900542c56e509","reusable_form_id":"674a74f81e611b047f233cfedf2900542c56e509","title":"Random
      Stat Dec","message":null,"updated_at":1635493351,"is_creator":true,"is_embedded":true,"can_edit":true,"metadata":{"tenantId":"0xdeadbeef","employeeId":"satoshiNakamoto","sent_from_domain":"app.hellosign.com","created_on_domain":"app.hellosign.com"},"is_locked":true,"signer_roles":[{"name":"Team
      member","order":null}],"cc_roles":[],"documents":[{"index":0,"name":"COE-Sample.pdf","field_groups":[],"custom_fields":[{"name":"Position","type":"text","signer":null,"x":183,"y":39,"width":144,"height":14,"required":false,"api_id":"eb14a564-8acc-4d42-9cd7-035fb686b9f8","group":null,"fontSize":"12px","avg_text_length":{"num_lines":1,"num_chars_per_line":38},"isMultiline":false,"originalFontSize":12,"fontFamily":"arial"},{"name":"Wage","type":"text","signer":null,"x":487,"y":39,"width":144,"height":14,"required":false,"api_id":"d9f9312f-7cff-4c0d-a1e0-b3f89709f99e","group":null,"fontSize":"12px","avg_text_length":{"num_lines":1,"num_chars_per_line":38},"isMultiline":false,"originalFontSize":12,"fontFamily":"arial"}],"form_fields":[{"name":"DateSigned1","type":"date_signed","signer":"1","x":513,"y":165,"width":103,"height":18,"required":true,"api_id":"98ea7a3e-1ef0-44ba-bde3-513bad2c3101","group":null,"fontSize":"12px"},{"name":"FullName1","type":"text","signer":"1","x":265,"y":184,"width":72,"height":14,"required":true,"api_id":"d2c6c71d-a310-45cd-8e92-a6b9a24d8de3","group":null,"fontSize":"12px","avg_text_length":{"num_lines":1,"num_chars_per_line":19},"isMultiline":false,"originalFontSize":12,"fontFamily":"arial"},{"name":"Email1","type":"text","signer":"1","x":252,"y":235,"width":144,"height":14,"required":true,"api_id":"acfb51c5-3768-4707-b151-261345c43250","group":null,"fontSize":"12px","avg_text_length":{"num_lines":1,"num_chars_per_line":38},"isMultiline":false,"originalFontSize":12,"fontFamily":"arial","validation_type":"email_address"},{"name":"Signature1","type":"signature","signer":"1","x":502,"y":355,"width":108,"height":27,"required":true,"api_id":"b779e7eb-30c4-47e7-8d04-cc12765904ad","group":null,"fontSize":12},{"name":"Initial1","type":"initials","signer":"1","x":513,"y":428,"width":72,"height":27,"required":true,"api_id":"ae27b733-b086-4967-afb9-8ab5dacb2aa3","group":null,"fontSize":12}]}],"custom_fields":[{"name":"Position","type":"text","signer":null,"x":183,"y":39,"width":144,"height":14,"required":false,"api_id":"eb14a564-8acc-4d42-9cd7-035fb686b9f8","group":null,"fontSize":"12px","avg_text_length":{"num_lines":1,"num_chars_per_line":38},"isMultiline":false,"originalFontSize":12,"fontFamily":"arial"},{"name":"Wage","type":"text","signer":null,"x":487,"y":39,"width":144,"height":14,"required":false,"api_id":"d9f9312f-7cff-4c0d-a1e0-b3f89709f99e","group":null,"fontSize":"12px","avg_text_length":{"num_lines":1,"num_chars_per_line":38},"isMultiline":false,"originalFontSize":12,"fontFamily":"arial"}],"named_form_fields":[{"name":"DateSigned1","type":"date_signed","signer":"1","x":513,"y":165,"width":103,"height":18,"required":true,"api_id":"98ea7a3e-1ef0-44ba-bde3-513bad2c3101","group":null,"fontSize":"12px"},{"name":"FullName1","type":"text","signer":"1","x":265,"y":184,"width":72,"height":14,"required":true,"api_id":"d2c6c71d-a310-45cd-8e92-a6b9a24d8de3","group":null,"fontSize":"12px","avg_text_length":{"num_lines":1,"num_chars_per_line":19},"isMultiline":false,"originalFontSize":12,"fontFamily":"arial"},{"name":"Email1","type":"text","signer":"1","x":252,"y":235,"width":144,"height":14,"required":true,"api_id":"acfb51c5-3768-4707-b151-261345c43250","group":null,"fontSize":"12px","avg_text_length":{"num_lines":1,"num_chars_per_line":38},"isMultiline":false,"originalFontSize":12,"fontFamily":"arial","validation_type":"email_address"},{"name":"Signature1","type":"signature","signer":"1","x":502,"y":355,"width":108,"height":27,"required":true,"api_id":"b779e7eb-30c4-47e7-8d04-cc12765904ad","group":null,"fontSize":12},{"name":"Initial1","type":"initials","signer":"1","x":513,"y":428,"width":72,"height":27,"required":true,"api_id":"ae27b733-b086-4967-afb9-8ab5dacb2aa3","group":null,"fontSize":12}],"accounts":[{"account_id":"a56783e678b6063c4f38180736eff28c74acb917","email_address":"primba@deputy.com","is_locked":false,"is_paid_hs":false,"is_paid_hf":false,"quotas":{"templates_left":0,"documents_left":3,"api_signature_requests_left":0}}]},{"template_id":"0baf3499c6ecfb0908bcc803202a0df03d08c023","reusable_form_id":"0baf3499c6ecfb0908bcc803202a0df03d08c023","title":"Random
      Stat Dec","message":null,"updated_at":1635291978,"is_creator":true,"is_embedded":true,"can_edit":true,"metadata":{"tenantId":"0xdeadbeef","employeeId":"satoshiNakamoto","sent_from_domain":"app.hellosign.com","created_on_domain":"app.hellosign.com"},"is_locked":true,"signer_roles":[{"name":"Miner","order":null}],"cc_roles":[],"documents":[{"index":0,"[...]
