---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://api.hellosign.com/v3/template/list
    method: GET
  response:
    body: '{"list_info":{"page":1,"num_pages":1,"num_results":1,"page_size":20},"templates":[{"template_id":"fc47b729f5611a75894680947c573f8a09fcb52c","reusable_form_id":"fc47b729f5611a75894680947c573f8a09fcb52c","title":"Auspost
      redirection","message":null,"is_creator":true,"is_embedded":true,"can_edit":true,"metadata":{"sent_from_domain":"app.hellosign.com","created_on_domain":"app.hellosign.com","tenantId":"deputy","employeeId":"finney"},"is_locked":true,"signer_roles":[{"name":"Applicant","order":null}],"cc_roles":[],"documents":[{"index":0,"name":"ApplicationToRedirectMailForm.pdf","field_groups":[],"custom_fields":[{"name":"vaccinated?","type":"checkbox","signer":null,"x":310,"y":132,"width":18,"height":18,"required":false,"api_id":"12340bad-566d-4641-a988-acf790154ed2","group":null,"fontSize":12},{"name":"Salary","type":"text","signer":null,"x":671,"y":201,"width":72,"height":14,"required":false,"api_id":"fee3102d-6ce5-41af-8bef-6214d708a104","group":null,"fontSize":"12px","avg_text_length":{"num_lines":1,"num_chars_per_line":19},"isMultiline":false,"originalFontSize":12,"fontFamily":"arial"}],"form_fields":[{"name":"FullName1","type":"text","signer":"1","x":546,"y":795,"width":72,"height":14,"required":true,"api_id":"b18516f7-c43a-44d0-813d-639d471eec84","group":null,"fontSize":"12px","avg_text_length":{"num_lines":1,"num_chars_per_line":19},"isMultiline":false,"originalFontSize":12,"fontFamily":"arial"},{"name":"Checkbox1","type":"checkbox","signer":"1","x":781,"y":906,"width":18,"height":18,"required":true,"api_id":"927b638d-7a0a-4301-856a-faa73581cf0d","group":null,"fontSize":12},{"name":"Check[...]
